header {
  background-color: white;
  height: 50px;

  .logo {
    float: left;
    display: block;
    height: 100%;
    margin-left: 20px;

    img {
      height: 100%;
    }
  }

  nav {
    margin-left: auto;
    margin-right: auto;
    float: right;

    ul {
      padding-top: 15px;

      li {
        float: right;
        color: $darkgrey;
        margin-right: 15px;
        text-transform: uppercase;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}